/* About Us Headline */

#about-title {
  font-size: 50px;
  font-family: 'Arimo';
  color: black;
  text-align: center;
  margin: auto;
  padding: 20px 0;
  border-radius: 5px;
  background-color: rgba(225, 225, 225, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 60%;
}

/* End About Us Title */

/* Creators part */

#creators {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  width: 60%;
  text-align: center;
}

.cardCreator {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  font-family: Andika;
  border-radius: 5px;
  background-color: rgba(225, 225, 225, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px 0;
  padding: 10px 20px 0;
  position: relative;
  transition-duration: 0.4s;
}

.cardCreator h2 {
  align-self: flex-start;
  margin-bottom: 5px;
}

.aboutText {
  display: none;
}

.cardCreator:hover .aboutText {
  display: block;
  position: absolute;
}

.aboutText {
  background-color: #df2935d3;
  color: var(--text-color);
  top: 0;
  bottom: 0;
  padding: 5px;
  margin: 0;
  text-align: justify;
}

.aboutUsButton {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5%;
  width: 150px;
  height: 75px;
  color: var(--text-color);
  margin: 20px 0 40px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.aboutUsButton a {
  outline: none;
  text-decoration: none;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  #about-title {
    margin: auto;
    width: 60%;
  }

  #creators {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px auto;
    width: 60%;
  }

  .cardCreator {
    width: 35%;
  }

  .cardCreator:nth-child(5) {
    margin: 30px auto 0;
  }

  .aboutUsButton {
    position: absolute;
    top: 140%;
    right: 65px;
    width: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .cardCreator {
    width: 38%;
  }

  .aboutUsButton {
    position: absolute;
    width: 175px;
    right: 100px;
  }
}
