/* About Us Headline */

#about-title {
  font-size: var(--titleMobile);
  font-family: 'Arimo';
  color: white;
  text-align: center;
  margin: auto;
  padding: 20px 0;
  background-color: #f2b705;
  border: solid;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.2);
  width: 60%;
}

/* End About Us Title */

/* Creators part */

#creators {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  width: 60%;
  text-align: center;
}

.cardCreator {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  font-family: Andika;
  background-color: #f2b705;
  border-radius: 10px;
  border: solid;
  color: white;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  padding: 10px 20px 0;
  position: relative;
}

.cardCreator h2 {
  align-self: flex-start;
  margin-bottom: 5px;
}

.cardCreator:hover {
  margin-top: 40px;
  transform: scale(1.1);
}

.cardCreator:hover .aboutText {
  display: block;
  position: absolute;
}

.aboutText {
  display: none;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f2b705d7;
  color: var(--text-color);
  top: 0;
  bottom: 0;
  padding: 5px;
  padding-top: 30%;
  text-align: center;
}

.aboutUsButton {
  background-color: #f2b705;
  border: 1px solid #f2b705;
  border-radius: 5%;
  width: 243px;
  height: 75px;
  color: var(--text-color);
  margin: 20px auto 40px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.aboutUsButton a {
  outline: none;
  text-decoration: none;
  color: var(--text-color);
}

.text-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  #about-title {
    margin: auto;
    width: 60%;
  }

  #creators {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px auto;
    width: 60%;
  }

  .cardCreator {
    width: 35%;
  }

  .cardCreator:nth-child(5) {
    margin: 30px auto 0;
  }

  .aboutUsButton {
    position: absolute;
    top: 125%;
    right: 2%;
    width: 230px;
    margin-bottom: 40px;
    margin-right: 2%;
  }
}

@media screen and (min-width: 1024px) {
  .cardCreator {
    width: 38%;
  }

  .aboutUsButton {
    position: absolute;
    right: 2%;
    width: 263px;
    margin-right: 5%;
  }
}
