.main-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-card-container {
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 400px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #f2b705;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.2);
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  perspective: 1000px;
}

.card {
  border-radius: 10px;
  height: 80px;
  width: 60px;
  margin-bottom: 10px;
  background-color: #f28a2e;
  box-shadow: 8px 8px 5px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transform-style: preserve-3d;
  transition-duration: 0.5s;
}

/* :active veut dire que l'élément est activé, ici cliqué */

.card:active {
  transform: scale(0.9);
  transition-duration: 0.2s;
}

/* Lorsque eventListener sur une image elle change de classe pour ".open" et on va la rotate pour voir l'autre face*/

.card.open {
  transform: rotateY(180deg);
}

.card-front {
  height: 80%;
  padding-top: 10px;
  margin: auto;
  transform: rotateY(180deg);
  backface-visibility: visible;
  z-index: 1;
}

/* backface-visibility: hidden; car les deux images de la carte sont superposées et on ne veut pas voir l'image de fond */

.card img {
  width: 100%;
  object-fit: contain;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
}

.card-back {
  height: 60%;
  margin: auto;
}

.card:hover {
  cursor: pointer;
}

/* .jauge-container,
.jauge-corps,
.jauge-mousse {
  display: none;
} */

.endGame-container {
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.endGame-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2b705;
  width: 300px;
  height: 161px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 20px;
  font-family: Andika;
  cursor: pointer;
}

.endGame-box h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.endGame-box a {
  text-decoration: none;
  color: white;
}

/* .endGame-input {
  height: 30%;
  border-radius: 10px;
  font-size: 15px;
  font-family: Andika;
} */

.playMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.playerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 80px;
  margin: auto;
  background-color: #f2b705;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.2);
  border: solid;
  color: white;
  font-size: 20px;
  font-family: Andika;
  cursor: pointer;
}

.playerName {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 100px;
  margin: auto;
  background-color: #f2b705;
  border-radius: 10px;
  border: solid;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 20px;
  font-family: Andika;
}

.playername input {
  margin-left: 10px;
  font-family: Andika;
}

.levelBtn {
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 80px;
  margin: auto;
  background-color: #f2b705;
  border: solid;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 20px;
  font-family: Andika;
  cursor: pointer;
}

.score-container {
  justify-self: flex-end;
  margin-bottom: 10px;
  width: 70%;
  padding-top: 10px;
  display: none;
  align-items: center;
  justify-content: space-around;
}

.score {
  display: flex;
  align-items: center;
  line-height: 50px;
  height: 20%;
  font-family: Patrick Hand;
  font-size: 20px;
  padding-left: 5px;
}

.score.isPlaying {
  background-color: #f2b705;

  border-radius: 10px;
  box-shadow: 8px 8px 5px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .main-container {
    padding-top: 40px;
  }
  .main-card-container {
    display: none;
    /* display: flex; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 765px;
    height: 600px;
    margin-bottom: 50px;
    background-color: #f2b705;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.2);
  }

  .card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 570px;
    width: 75%;
    border-radius: 10px;
    perspective: 1000px;
  }

  .card {
    border-radius: 10px;
    height: 120px;
    width: 100px;
    margin-bottom: 20px;
    background-color: #f28a2e;
    box-shadow: 8px 8px 5px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transform-style: preserve-3d;
    transition-duration: 0.5s;
    z-index: 2;
  }

  /* .score-container {
    justify-self: flex-end;
    margin-bottom: 10px;
    width: 70%;
    padding-top: 10px;
    display: none;
    align-items: center;
    justify-content: space-around;
  } */

  .score {
    /* display: flex;
    align-items: center;
    line-height: 50px;
    height: 20%;
    font-family: Patrick Hand; */
    font-size: 35px;
    padding-left: 5px;
  }

  .score.isPlaying {
    background-color: #f2b705;

    border-radius: 10px;
    box-shadow: 8px 8px 5px 1px rgba(0, 0, 0, 0.2);
  }
}

/* .jauge-mousse {
    display: block;
    height: 100px;
    width: 100%;
    flex-grow: 1;
  }
  .jauge-corps {
    display: block;
    height: 100%;
    width: 100%;
    flex-shrink: 1;
  } */

/* Drunk Mode */

.rotate {
  animation: rotateAndBlur 5s infinite;
}

@keyframes rotateAndBlur {
  0% {
    transform: rotate(0deg);
    filter: blur(2px);
  }
  25% {
    transform: rotate(90deg);
    filter: blur(3px);
  }
  50% {
    transform: rotate(180deg);
    filter: blur(2px);
  }
  75% {
    transform: rotate(270deg);
    filter: blur(3px);
  }
  100% {
    transform: rotate(360deg);
    filter: blur(2px);
  }
}
