.main-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 765px;
  height: 600px;
  margin: auto;
  /* background-color: rgba(225, 225, 225, ); */
  background-color: #f2b705;
  /* background-color: white; */
  border-radius: 10px;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.2);
  /* border: 25px solid rgba(242, 109, 61, 0.65); */
}

.jauge-container {
  /* placement */
  align-self: flex-end;
  margin: 5% 5% 5% 0;
  height: 0%;
  max-height: 550px;
  width: 15%;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 10px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);

  /* placement images */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.jauge-mousse {
  height: 100px;
  width: 100%;
  flex-grow: 1;
}
.jauge-corps {
  height: 100%;
  width: 100%;
  flex-shrink: 1;
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 570px;
  width: 75%;
  border-radius: 10px;
  perspective: 1000px;
}

.card {
  border-radius: 10px;
  height: 120px;
  width: 100px;
  margin-bottom: 20px;
  background-color: #f28a2e;
  box-shadow: 8px 8px 5px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transform-style: preserve-3d;
  transition-duration: 0.5s;
}

.card:active {
  transform: scale(0.9);
  transition-duration: 0.2s;
}

.card.open {
  transform: rotateY(180deg);
}

.card-front {
  height: 80%;
  padding-top: 10px;
  margin: auto;
  transform: rotateY(180deg);
}

.card img {
  width: 100%;
  object-fit: contain;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
}

.card-back {
  height: 60%;
  padding-top: 25px;
  margin: auto;
}

.card:hover {
  cursor: pointer;
}
