/* Mettre margin et padding de la page à zero*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  height: 100px;
  background-color: #e40e21;
}

footer {
  flex-shrink: 0;
  height: 100px;
  background-color: #e40e21;
  /* position: absolute;
    bottom: 0; */
}

/* Pour les mobiles*/

body {

  display: flex;
  flex-direction: column;

  height: 100%;
  
  /*background-color:rgba(10, 10, 10, 0.098); L'opacite se regle ici */
}

main{
  flex-grow: 1;
  background-image: url("Pictures/barman.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.divButton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.designButton1,
.designButton2 {
  display: flex;
  align-items: center;
  text-align: center;
  width: 80px;
  height: 50px;
  background-color: red;
  border-radius: 8px;
  font-family: "andika";
  border-width: 10px;
  border-color: red;
  border-style: solid;
}
.designButton1{
  margin-right: 20px;
}


designButton1:hover{
  background: url('bieresolo.png');
}

.designButton2:hover{
  background-image: url('biere2players.png');
}

.rules{

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 150px;
  background-color: aliceblue;
  margin-left: 300px;
  margin-top:100px;


}