/*Formatage de la page on enlève les marges interne et externe de tout (pour les rajouter plus tard après*/
* {
  margin: 0;
  padding: 0;
}

/* Test du sticky footer */
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

/* -- Début du header */

header {
  background-color: #e40e21;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#navbar {
  display: none;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header ul li {
  list-style: none;
  padding: 10px;
  font-size: 20px;
  font-family: Arimo;
}
header ul li a {
  padding: 10px;
  text-decoration: none;
  color: white;
}
#burger-logo {
  width: 100%;
  text-align: center;
  color: white;
}

.title-desktop {
  display: none;
}
#burger {
  position: absolute;
  left: 10px;
}

@media screen and (min-width: 768px) {
  #burger-logo {
    display: none;
  }
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 30px;
  }
  #navbar ul li {
    margin-right: 30px;
    font-size: 30px;
  }
  #navbar ul li a {
    text-decoration: none;
    color: white;
  }
  .binch {
    margin-left: 30px;
  }
}
/* Fin du header */

/* Début FOOTER */
footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #e40e21;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
footer div {
  margin: 10px;
}
#social-med i {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  #footer-logo {
    display: none;
  }
}

/* RANKING PAGE  */

main {
  height: 100%;
  background-image: url('Pictures/bar_drawing_bartender_lights_icons_cartoon_design_6834896.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-color: #f2f4f3; */

  flex-grow: 1;
}

.hall-of-fame {
  height: 100%;
  background-color: rgba(225, 225, 225, 0.5);
}

.hall-of-fame-container {
  width: 60%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hall-of-fame h1 {
  width: 100%;
  padding: 10px 0px;
  margin: 5% auto 0px auto;
  text-align: center;
  font-family: 'Arimo';
  font-size: 3vw;
  background-color: rgba(225, 225, 225, 0.75);
  border-radius: 5px;
}

.table-container {
  width: 100%;
  display: flex;
  /* border: 1px solid #e40e21; */
  border-radius: 5px;
  background-color: rgba(225, 225, 225, 0.75);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px auto 0px auto;
}

@media screen and (min-width: 768px) {
  .hall-of-fame {
    height: 100%;
    background-color: rgba(225, 225, 225, 0.5);
    margin-bottom: 50px;
  }

  .hall-of-fame-container {
    width: 60%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hall-of-fame table {
  width: 50%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: left;
  font-size: 1.5vw;
}

.hall-of-fame td,
th {
  /* border: 1px solid black; */
  padding: 5px;
}

.hall-of-fame td:nth-child(1) {
  text-align: center;
}

.playBtn {
  align-self: flex-end;
}

.playBtn button {
  border: 1px solid #e40e21;
  border-radius: 5%;
  width: 100px;
  height: 50px;
  background-color: #e40e21;
  font-size: 1.5vw;
}

.playBtn button a {
  text-decoration: none;
  color: white;
}

/* END RANKING PAGE */
